<div class="sidebar d-flex flex-column p-3 text-white vh-100">
  <nav class="navbar d-flex flex-column ">
    <ul class="nav flex-column">
      <li class="nav-item w-100">
        <a class="nav-link text-white" href="/home">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/listTurnos">Lista Turnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/profesionales">Profesionales</a>
      </li>
    </ul>
  </nav>
</div>

