<div class="container">
    <div class="row d-flex flex-column">
        <div class="col col-chip">
            <form>
                <mat-form-field class="example-chip-list">
                  <mat-label>Profesionales</mat-label>
                  <mat-chip-grid #chipGrid aria-label="Profesional selection">
                    @for (profesional of profesionales(); track $index) {
                      <mat-chip-row (removed)="remove(profesional)">
                        {{profesional}}
                        <button matChipRemove [attr.aria-label]="'remove ' + profesional">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    }
                  </mat-chip-grid>
                  <input
                    name="currentProfesional"
                    placeholder=""
                    #profesionalInput
                    [(ngModel)]="currentProfesional"
                    [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, profesionalInput)">
                    @for (profesional of filteredProfesionales(); track profesional) {
                      <mat-option [value]="profesional">{{profesional}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </form>              
        </div>

        <div class="col">
            <app-calendario [profesionales]="profesionales()"></app-calendario>
        </div>

    </div>
</div>