<div class="container-fluid demo-app fc-theme-bootstrap5">

  <!-- Calendario principal -->
  <div class="col demo-app-main d-flex fc-theme-bootstrap5">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <!-- Sin la hora el calendario se ve menos apretado -->
        <!-- <b>{{ arg.timeText }}</b> -->

        <!-- <i>{{ arg.event.title}</i> -->
        <i>{{ arg.event.extendedProps.cliente}} {{"-"}} {{arg.event.title}}</i>
        <!-- <i>{{ arg.event.extendedProps.cliente }}</i> -->
        <!-- <i>{{ arg.event.extendedProps.profesional }}</i> -->
      </ng-template>
    </full-calendar>
  </div>
</div>