@import '../../../../src/styles.scss';

h2 {
    margin: 0;
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  
  li {
    margin: 1.5em 0;
    padding: 0;
  }
  
  b { /* used for event dates/times */
    margin-right: 3px;
  }
  
  .demo-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    // font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    // background-color: yellow;
    margin: 0;
    padding: 0;
  }
  
  .demo-app-sidebar-section {
    // background-color: #17abe6;
    padding: 2em;
  }
  
  .demo-app-main {
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 100%;
    flex-grow: 1;
    // padding: 3em;
    // background-color: rgb(152, 240, 11);
  }

  //Ancho y alto del calendario
  full-calendar{
    width: 100% !important;
    min-height: 640px !important;

    //Color de letra y fondo del calendario
    color: #{$color-fuente-calendario} !important; 
    background-color:  #{$bg-color-calendario} !important;
  }

    .swipe-container {
      position: relative;
  
      // Deshabilitar gestos táctiles por defecto
      touch-action: none;
  
      // Habilitar gestos táctiles solo en dispositivos táctiles
      @media (hover: none) and (pointer: coarse) {
        touch-action: pan-y pinch-zoom;
  
        ::ng-deep {
          .fc {
            touch-action: pan-y pinch-zoom;
          }
  
          // Botones y eventos para todas las vistas
          .fc-button,
          .fc-event {
            pointer-events: auto;
            touch-action: manipulation;
          }
  
          // Vista mes
          .fc-daygrid-day-top,
          .fc-daygrid-day-number,
          .fc-daygrid-day-frame,
          .fc-scrollgrid-sync-table {
            pointer-events: auto;
            touch-action: pan-y pinch-zoom;
          }
  
          // Vista semana y día
          .fc-timegrid-body,
          .fc-timegrid-cols,
          .fc-timegrid-col,
          .fc-timegrid-slots {
            pointer-events: auto;
            touch-action: pan-y pinch-zoom;
          }
  
          // Vista lista
          .fc-list,
          .fc-list-table,
          .fc-list-day,
          .fc-list-view,
          .fc-scroller,
          .fc-list-empty,
          .fc-list-heading,
          .fc-list-event-container {
            pointer-events: auto;
            touch-action: pan-y pinch-zoom;
          }
  
          // Contenedor principal de la vista lista
          .fc-view-harness {
            touch-action: pan-y pinch-zoom;
          }
        }
      }
    }
